<div class="span9">
	<div class="span3">
		<%= user_gravatar @user %>
	</div>
	<div class="span6">
		<%= @user.username %>
	</div>

	<% #link_to 'Edit', edit_user_path(@user) %>
	<% #link_to 'Back', users_path %>
</div>
<div class="span12">
<h2> Your blog posts </h2>
</div>